.fs-04
{
	font-size: 0.4rem;
}
.fs-05
{
	font-size: 0.5rem;
}
.fs-06
{
	font-size: 0.6rem;
}
.fs-07
{
	font-size: 0.7rem;
}
.fs-08
{
	font-size: 0.8rem;
}
.fs-09
{
	font-size: 0.9rem;
}
.fs-1
{
	font-size: 1rem;
}
.pyc-2
{
	padding: 1.5rem 0 !important;
}
@media all and (max-width:480px) {
   .btn-block-sm { width: 100%; display:block; }
}

@media (max-width: 480px){
	.logo-1 { display: none; }
	.main-header.nav{
		padding-left: 5px;
	}
}