.fs-04
{
	font-size: 0.4rem;
}
.fs-05
{
	font-size: 0.5rem;
}
.fs-06
{
	font-size: 0.6rem;
}
.fs-07
{
	font-size: 0.7rem;
}
.fs-08
{
	font-size: 0.8rem;
}
.fs-09
{
	font-size: 0.9rem;
}
.fs-1
{
	font-size: 1rem;
}
.w-15
{
	width: 15%;
}
.bg-navy-blue{
	background-color: #223B7C;
}
.text-navy-blue{
	color: #223B7C;
}
.tabs-style-3 .nav.panel-tabs li a.active {
	background-color: #223B7C;
}
.bg-danger-opacity
{
	background-color: rgba(255, 21, 40, 0.22);
}
.bg-success-opacity
{
	background-color: rgba(121, 255, 167, 0.46);
}
.pyc-2
{
	padding: 1.5rem 0 !important;
}
.min-w-80
{
	min-width: 80px !important;
}

.min-w-100
{
	min-width: 100px !important;
}

.max-w-100
{
	max-width: 100px !important;
}
.max-w-150
{
	max-width: 150px !important;
}
.max-w-200
{
	max-width: 200px !important;
}
.border-2{
	border-width: 8px;
}
.form-control-b-line{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #223B7C;
}
.vww-80{
	width: 80%;
}
.px-responsive-1
{
	padding-left: 3rem;
	padding-right: 3rem;
}

@media all and (max-width:480px) {
   .btn-block-sm { width: 100%; display:block; }
   .sm-justify-content-center{justify-content: center !important;}
   .vww-80{
   	width: 100%;
   	align-items: flex-start !important;
   	margin-top: 20%;
   }
   .sign-in{
   	margin-top: -50px;
   }
}

@media (max-width: 480px){
	.logo-1 { display: none; }
	.main-header.nav{
		padding-left: 5px;
	}
	.px-responsive-1{
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}